.delete-button{
    border: 2px solid lightgrey;
    border-radius: 5px;    
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.delete-button:hover{
    background-color: red;
    color: white;
}